html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 127.4vh;
  font-size: 1.6rem;
  max-width: 100%;
}

/*===============================================*/
/*---------------Estilos del Header--------------*/
/*===============================================*/

.head {
  width: 100vw;
  height: 12.3vh;
  background-color: #f3f5fc;
  max-width: 100%;
}

.head-logo {
  position: absolute;
  top: 3.1vw;
  left: 4.3vh;
  width: 8.5vw;
  height: 6.2vh;
}

/*===============================================*/
/*----------------Estilos del Main---------------*/
/*===============================================*/
.main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 107.7vh;
  background-color: #f3f5fc;
  max-width: 100%;
}

/*----------textarea----------*/
.main-input {
  position: absolute;
  top: 19.5vh;
  left: 4.3vw;
  width: 91.5vw;
  height: 33vh;
  color: #0a3871;
  background-color: transparent;
  border: none;
  border-radius: 0.5rem;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 150%;
}

.main-input:focus {
  outline: none;
}

.main-input::placeholder {
  color: #0a3871;
}

/*----------letrero aviso----------*/
.main-alert {
  position: absolute;
  top: 58vh;
  left: 4.3vw;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.1vw;
  width: 61.1%;
  height: 2.3vh;
}

.main-alert-icono {
  width: 4.3vw;
  height: 2.1vh;
}

.main-alert-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #495057;
}

/*------------botones------------*/
.main-botom {
  position: absolute;
  top: 62.4vh;
  left: 4.3vw;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.6vh;
  width: 91.5%;
  height: 20.3vh;
}

.main-botom-encriptar {
  background-color: #0a3871;
  width: 91.5vw;
  height: 8.6vh;
  border: 0.1rem solid #0a3871;
  border-radius: 2.4rem;
  color: white;
}

.main-botom-desencriptar {
  background-color: transparent;
  width: 91.5vw;
  height: 8.6vh;
  border: 0.1rem solid #0a3871;
  border-radius: 2.4rem;
  color: #0a3871;
}

/*-------Cuadro Texto Informativo-------*/
.main-message {
  position: absolute;
  left: 6.4vw;
  top: 90.9vh;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 87.2vw;
  height: 23.9vh;
  padding: 4.1vh 8.5vw;
  background-color: #ffffff;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 3.2rem;
}

.muneco {
  position: absolute;
  width: 23.3vw;
  height: 27.5vh;
  top: 13vh;
  left: 2.9vw;
  display: none;
}

.muneco img {
  width: 100%;
  height: 100%;
}

.main-message-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  width: 70.1vw;
  height: 15.7vh;
}

.main-message-text1 {
  color: #343a40;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 120%;
  text-align: center;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.main-message-text2 {
  color: #495057;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  text-align: center;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

/*-----textarea con el mensaje------*/
.texto-encriptado {
  display: none;
  position: absolute;
  width: 74.4vw;
  height: 55.6vh;
  top: 4.1vh;
  left: 8.5vw;
  color: #495057;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 150%;
}

.boton-copiar {
  display: none;
  position: absolute;
  width: 74.4vw;
  height: 8.6vh;
  top: 63.8vh;
  left: 8.5vw;
  background-color: transparent;
  border: 1px solid #0a3871;
  border-radius: 24px;
  color: #0a3871;
}

/*===============================================*/
/*---------------Estilos del Footer--------------*/
/*===============================================*/
.foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 7.4vh;
  padding-left: 4.3vw;
  padding-right: 10vw;
  background-color: #f3f5fc;
  max-width: 100%;
}

.foot-text {
  color: #495057;
  color: black;
  font-family: "Inter";
  font-size: 1.8rem;
  font-weight: bolder;
}

/*=========================================================*/
/*---------------Estilos Despues de encriptar--------------*/
/*=========================================================*/

/*----------------Encriptado--------------------*/
.body-encriptado {
  height: 218vh;
}

.main-encriptado {
  height: 210.6vh;
}

/*-----textarea de entrada-----*/
.main-input-encriptado {
  position: absolute;
  top: 19.6vh;
  left: 4.3vw;
  width: 91.5vw;
  height: 80.3vh;
}

/*------aviso de minusculas-----*/
.main-alert-encriptado {
  position: absolute;
  top: 108vh;
  left: 4.3vw;
}

/*-----contenedor de botones-----*/
.main-botom-encriptado {
  position: absolute;
  top: 112.4vh;
  left: 4.3vw;
}

/*El cuadro contenedor del text area y el boton copiar*/
.main-message-encriptado {
  position: absolute;
  left: 4.3vw;
  top: 141vh;
  width: 91.5vw;
  height: 76.5vh;
}

/*               DISEÑO TABLET             */
@media screen and (min-width: 490px) {
  .main-botom {
    flex-direction: row;
  }

  .muneco {
    display: none;
  }
}
